In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame(list(zip([100,200,300,400,500,600],[10,20,30,40,50,60])) ,index=["A","B","C","D","E","F"],columns=["Income of people","commission"])
df

   Income of people  commission
A               100          10
B               200          20
C               300          30
D               400          40
E               500          50
F               600          60